<div class="call">
    <div class="call-box-top">
        {% if site.data.contact.phone %}
        <div class="call-phone">
            <a href="tel:{{ site.data.contact.phone }} ">
                <i class="fas fa-phone-square-alt"></i>
                {{ site.data.contact.phone }}
            </a>
        </div>
        {% endif %}
        {% if site.data.contact.email %}
        <div class="call-email">
            <a href="mailto:{{ .site.Data.contact.email }}">
                <i class="fas fa-envelope-square"></i>
                {{ site.data.contact.email }}
            </a>
        </div>
        {% endif %}
    </div>
    {% if include.show_button %}
    <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">{{ site.data.contact.contact_button_text }}</a>
    </div>
    {% endif %}
</div>