<div id="cookie-notice">
    <div id="cookie-button">
        <svg class="cookie-icon">
            <use xlink:href="#icon-cookie" />
        </svg>
    </div>
    <div class="cookie-message">
        <svg class="cookie-icon">
            <use xlink:href="#icon-cookie" />
        </svg>
        <span>Folosim cookie-uri pentru a îmbunătăți funcționalitatea acestui site. IP-ul tău este anonim și forțăm protocoluri SSL pe toată durata vizitei tale. Pentru mai multe informații, consultă <a href="/privacy" class="cookie-privacy">politica noastră de confidențialitate</a>.</span>
        <a class="close" id="cookie-notice-accept" href="#"><i class="fa fa-times"></i></a>
    </div>
</div>