{% if include.form %}
{% assign formnumber = include.form | minus: 1 %}
{% else %}
{% assign formnumber = 0 %}
{% endif %}
{% assign pageform = page.forms[formnumber] %}

{% if pageform.form_engine == 'netlify' %}
<form name="{{ page.title }} {% if formnumber > 0 %}{{ formnumber | plus:1 }}{% endif %}" id="{{ pageform.id }}" class="form autofill" method="POST" action="{{ pageform.redirect }}" data-netlify="true" netlify-honeypot="_gotcha">
    <input type="hidden" name="_to" value="{{ pageform.to }}">
    {% elsif pageform.form_engine == 'cloudcannon' %}
    <form id="contact-form" class="form autofill" method="POST" action="{{ pageform.redirect }}">
        <input type="hidden" name="_to" value="{{ pageform.to }}">
        {% elsif pageform.form_engine == 'formspree' %}
        <form id="contact-form" class="form autofill" method="POST" action="https://formspree.io/{{ pageform.to }}">
            <input type="hidden" name="_next" value="{{ site.url }}{{ pageform.redirect }}" />
            {% elsif pageform.form_engine == 'formbucket' %}
            <form id="contact-form" class="form autofill" method="POST" action="{{ pageform.to }}">
                {% endif %}
                <div class="row clearfix">
                    <input type="text" name="_gotcha" style="display:none" />
                    <input type="hidden" name="_subject" value="{{ pageform.subject }}" />

                    {% for item in pageform.fields %}

                    {% if item.required %}{% assign requiredstar = '' %}{% else %}{% assign requiredstar = ' <span class="optional">(optional)</span>' %}{% endif %}
                    {% if item.required %}{% assign requiredtext = 'required' %}{% else %}{% assign requiredtext = '' %}{% endif %}

                    {% if item.input_type == 'textarea' %}
                    <div class="{{ item.class }} {% if item.half %}{{ pageform.half }}{% else %}{{ pageform.full }}{% endif %}">
                        <textarea name="{{ item.name }}" name="{{ item.name }}" id="{{ item.name }}" cols="30" rows="10" minlength="30" class="{% if item.item_class %}{{ item.item_class }}{% endif %} {% if item.required != true %}ignore{% endif %}"  {% if pageform.placeholders == true %}placeholder="{{ item.placeholder }}{{ requiredstar }}" {% endif %} required></textarea>
                        <label {% if pageform.placeholders == true %}class="sr-only" {%- else -%}class="{{ pageform.label_class }}" {% endif %} for="{{ item.name }}">{{ item.placeholder }}{{ requiredstar }}</label>
                        <span class="error" id="validate-{{ item.name }}"></span>
                    </div>
                    {% elsif item.input_type == 'radio' %}
                    <div class="{{ item.class }} {% if item.half %}{{ pageform.half }}{% else %}{{ pageform.full }}{% endif %}">
                        <label><input type="radio" class="{% if item.item_class %}{{ item.item_class }}{% endif %} {% if item.required != true %}ignore{% endif %}"  name="{{ item.name }}" value="{{ item.placeholder }}" required>{{ item.placeholder }}</label>
                        <span class="error" id="validate-{{ item.name }}"></span>
                    </div>
                    {% elsif item.input_type == 'checkbox' %}
                    <div class="{{ item.class }} {% if item.half %}{{ pageform.half }}{% else %}{{ pageform.full }}{% endif %}">
                        <input type="checkbox" name="{{ item.name }}" id="{{ item.name }}" class="{% if item.item_class %}{{ item.item_class }}{% endif %} {% if item.required != true %}ignore{% endif %}"   value="{{ item.placeholder }}" required>
                        <label for="{{ item.name }}">{{ item.placeholder }}</label>
                        <span class="error" id="validate-{{ item.name }}"></span>
                    </div>
                    {% elsif item.input_type == 'recaptcha' %}
                    <div class="{{ item.class }} {% if item.half %}{{ pageform.half }}{% else %}{{ pageform.full }}{% endif %}">
                        {% if pageform.form_engine == 'netlify' %}
                        <div data-netlify-recaptcha></div>
                        {% else %}
                        <div class="g-recaptcha" data-sitekey="{{ item.placeholder }}"></div>
                        {% endif %}
                        <span class="error" id="validate-{{ item.name }}"></span>
                    </div>
                    {% elsif item.input_type == 'html' %}
                    {{ item.placeholder }}
                    {% elsif item.input_type == 'submit' %}
                    <div class="{{ item.class }} {% if item.half %}{{ pageform.half }}{% else %}{{ pageform.full }}{% endif %}">
                        <button type="{{ item.input_type }}" class="{% if item.item_class %}{{ item.item_class }}{% endif %} {% if item.required != true %}ignore{% endif %}" >{{ item.placeholder }}</button>
                    </div>

                    {% else %}
                    <div class="{{ item.class }} {% if item.half %}{{ pageform.half }}{% else %}{{ pageform.full }}{% endif %}">
                        <input type="{{ item.input_type }}" name="{{ item.name }}" id="{{ item.name }}" class="{% if item.item_class %}{{ item.item_class }}{% endif %} {% if item.required != true %}ignore{% endif %}"  {% if pageform.placeholders == true %}placeholder="{{ item.placeholder }}{{ requiredstar }}" {% endif %} aria-describedby="validate-{{ item.name }}" required autocomplete="off">
                        <label {% if pageform.placeholders == true %}class="sr-only" {%- else -%}class="{{ pageform.label_class }}" {% endif %} for="{{ item.name }}">{{ item.placeholder }}{{ requiredstar }}</label>
                        <span class="error" id="validate-{{ item.name }}"></span>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </form>
            <script type="text/javascript">
                $(document).ready(function() {
                    var id = '#{{ pageform.id }}';
                    validateForm(id);
                });
            </script>