<div class="likes">
    <button type="button" id="like" class="like"><i class="far fa-heart"></i></button>
    <div class="like-counter" >
        <span id="likes" data-tooltip="Aprecieri">0</span>
    </div>
</div>
<hr>
<script type="application/javascript">
    var countLikes = {
        apiKey: "AIzaSyBYwOkjnZKMOcElSLU0IXlBidCdhpUM2EE",
        authDomain: "gemz-ro.firebaseapp.com",
        databaseURL: "https://gemz-ro-default-rtdb.europe-west1.firebasedatabase.app",
        projectId: "gemz-ro",
        storageBucket: "gemz-ro.appspot.com",
        messagingSenderId: "220583109783",
        appId: "1:220583109783:web:d7dea247faba679046b5d2"
    };
    firebase.initializeApp(countLikes);

    let firestore = firebase.firestore();
    const docRef = firestore.collection("shops");
    const docID = window.location.pathname
        .split("/")
        .slice(-1)[0]
        .replace(".", "-");
    let prevLikes = 0;
    var likeButton = $('#like');
    var likeCounter = $('#likes');

    $(document).ready(function() {
        docRef
            .doc(docID)
            .get()
            .then((doc) => {
                if (doc.exists) {
                    prevLikes = doc.data()["likes"];
                } else {
                    console.log("No such document!");
                }
            })
            .catch((error) => {
                console.log(error);
            });
            likeButton.each(function(e) {
            if (localStorage.getItem(docID)) {
                $(this).removeClass("like").addClass("unlike").children("i").attr('class', 'fas fa-heart');
                $(this).prop('disabled', true);
            } else {
                $(this).removeClass("unlike").addClass("like").children("i").attr('class', 'far fa-heart');
            }
        });
    });

    likeButton.one("click", function(e) {
        docRef
            .doc(docID)
            .set({
                likes: prevLikes + 1,
                lastUpdate: new Date().toISOString()
            })
            .then(function(docRef) {
                console.log("Document successfully written!");
            })
            .catch(function(error) {
                console.error("Error adding document: ", error);
            });
        if (localStorage.getItem(docID)) {
            localStorage.removeItem(docID);
            $(this).removeClass("unlike").addClass("like").children("i").attr('class', 'far fa-heart');
        } else {
            localStorage.setItem(docID, 'liked');
            $(this).removeClass("like").addClass("unlike").children("i").attr('class', 'fas fa-heart');
            $(this).prop('disabled', true);
        }
    });

    docRef.doc(docID).onSnapshot((doc) => {
        const likes = doc.data()["likes"];
        likeCounter.html(likes);
        docRef
            .doc(docID)
            .get()
            .then((doc) => {
                if (doc.exists) {
                    prevLikes = doc.data()["likes"];
                } else {
                    console.log("No such document!");
                }
            })
            .catch((error) => {
                console.log(error);
            });
    });
</script>