<!-- <applause-button style="width: 58px; height: 58px;" url="{{ page.url | prepend: site.dev_url }}"/>
<script src="/assets/js/like.min.js"></script> -->

<p id="pages"></p>
<p id="likes">0</p>
<button id="like">like</button>
<script type="application/javascript">
    var countLikes = {
        apiKey: "AIzaSyBYwOkjnZKMOcElSLU0IXlBidCdhpUM2EE",
        authDomain: "gemz-ro.firebaseapp.com",
        databaseURL: "https://gemz-ro-default-rtdb.europe-west1.firebasedatabase.app",
        projectId: "gemz-ro",
        storageBucket: "gemz-ro.appspot.com",
        messagingSenderId: "220583109783",
        appId: "1:220583109783:web:d7dea247faba679046b5d2"
    };
    const countViews = {
        appId: "1:220583109783:web:d7dea247faba679046b5d2"
    };
    firebase.initializeApp(countLikes);
    firebase.initializeApp(countViews, "secondary");

    let firestore = firebase.firestore();
    const docRef = firestore.collection("shops");
    const docID = window.location.pathname
        .split("/")
        .slice(-1)[0]
        .replace(".", "-");
    const viewsRef = docRef.doc(docID).collection("views");
    let prevLikes = 0;
    var prevViews = 0;

    $(document).ready(function() {
        var userLikes = window.localStorage.getItem("likes") || 0;
        $("#pages").html(userLikes);
        docRef
            .doc(docID)
            .get()
            .then((doc) => {
                if (doc.exists) {
                    prevLikes = doc.data()["likes"];
                } else {
                    console.log("No such document!");
                }
            })
            .catch((error) => {
                console.log(error);
            });
    });

    $("#like").on("click", function(e) {
        docRef
            .doc(docID)
            .set({
                likes: prevLikes + 1,
                lastUpdate: new Date().toISOString()
            })
            .then(function(docRef) {
                console.log("Document successfully written!");
            })
            .catch(function(error) {
                console.error("Error adding document: ", error);
            });
    });

    docRef.doc(docID).onSnapshot((doc) => {
        const likes = doc.data()["likes"];
        $("#likes").html(likes);
        window.localStorage.setItem("likes", docID);
        docRef
            .doc(docID)
            .get()
            .then((doc) => {
                if (doc.exists) {
                    prevLikes = doc.data()["likes"];
                } else {
                    console.log("No such document!");
                }
            })
            .catch((error) => {
                console.log(error);
            });
    });

    viewsRef.doc("views").onSnapshot((doc) => {
        const views = doc.data()["views"];
        $("#view_count_container").html("<i class='fa fa-eye'></i> " + views);
        viewsRef
            .doc(docID)
            .get()
            .then((doc) => {
                if (doc.exists) {
                    prevViews = doc.data()["views"];
                } else {
                    console.log("No such document!");
                }
            })
            .catch((error) => {
                console.log(error);
            });
    });

    function get_viewers_ip(json) {
        viewers_ip = json.ip;
        count_view(viewers_ip);
    }

    function count_view(viewers_ip) {
        var views;
        var ip_to_string = viewers_ip.toString();

        for (var i, i = 0; i < ip_to_string.length; i++) {
            ip_to_string = ip_to_string.replace(".", "-");
        }

        viewsRef.doc(ip_to_string).set({
            viewers_ip: viewers_ip
        });

        viewsRef.doc('views').update({
            views: prevViews + 1,
            lastUpdate: new Date().toISOString()
        });

        // firebase.database().ref().child("page_views/" + ip_to_string).set({
        //     viewers_ip: viewers_ip
        // });
    }
    

    // firebase.database().ref().child("page_views").on("value", function(snapshot) {
    //     views = snapshot.numChildren();
    //     
    // });
</script>