{%- include search-input-full.html -%}
<!-- <div class="filters">
    <div class="button-group filter-button-group" data-filter-group="category">
        <a class="button active" data-filter="*">Vezi toate</a>
        {%- assign active_categories = site.shops | map: 'category' | join: ',' | split: ',' | uniq -%}
        {%- for category in active_categories -%}
        <a class="button" data-filter=".{{ category | slugify | replace: 'ș', 's' | replace: 'ț', 't' | replace: 'ă', 'a' | replace: 'î', 'i' | replace: 'â', 'a' }}">{{ category }}</a>
        {%- endfor -%}
    </div>
    <div class="button-group filter-button-group" data-filter-group="county">
        <a class="button active" data-filter="*">Vezi toate</a>
        {%- assign active_counties = site.shops | map: 'address' | map: 'county' | join: ',' | split: ',' | uniq -%}
        {%- for county in active_counties -%}
        {%- if county != empty -%}
        <a class="button" data-filter=".{{- county | slugify | replace: 'ș', 's' | replace: 'ț', 't' | replace: 'ă', 'a' | replace: 'î', 'i' | replace: 'â', 'a' -}}">{{- county -}}</a>
        {%- endif -%}
        {%- endfor -%}
    </div>
</div> -->
<div class="select-filters">
    <label for="select-category" class="select">
        <select class="filters-select" name="select-category" data-filter-group="category">
            <option value="" disabled="disabled" selected="selected">Alege o categorie</option>
            <option value="*">Vezi toate</option>
            {%- assign active_categories = site.shops | map: 'category' | join: ',' | split: ',' | uniq -%}
            {%- for category in active_categories -%}
            <option class="filter-option" value=".{{ category | slugify | replace: 'ș', 's' | replace: 'ț', 't' | replace: 'ă', 'a' | replace: 'î', 'i' | replace: 'â', 'a' }}">{{ category }}</option>
            {%- endfor -%}
        </select>
        <svg>
            <use xlink:href="#select-arrow-down"></use>
        </svg>
    </label>
    <label for="select-county" class="select">
        <select class="filters-select" name="select-county" data-filter-group="county">
            <option value="" disabled="disabled" selected="selected">Alege un județ</option>
            <option value="*">Vezi toate</option>
            {%- assign active_counties = site.shops | map: 'address' | map: 'county' | compact | join: ',' | split: ',' | uniq -%}
            {%- for county in active_counties -%}
            {%- if county != empty -%}
            <option class="filter-option" value=".{{- county | slugify | replace: 'ș', 's' | replace: 'ț', 't' | replace: 'ă', 'a' | replace: 'î', 'i' | replace: 'â', 'a' -}}">{{- county -}}</option>
            {%- endif -%}
            {%- endfor -%}
        </select>
        <svg>
            <use xlink:href="#select-arrow-down"></use>
        </svg>
    </label>
    <svg class="sprites">
        <symbol id="select-arrow-down" viewbox="0 0 10 6">
            <polyline points="1 1 5 5 9 1"></polyline>
        </symbol>
    </svg>
</div>

<div class="container pt-6 pb-6">
    <p class="filter-count"></p>
    <div id="search" class="shops row">
        {% for shop in site.shops %}
        {%- include shops.html -%}
        {% endfor %}
    </div>
</div>