---
---
$primary: #f12705;
$secondary-brass: #C49C87;
$grey-silver: #AAA69B;
$brown-cafeaulait: #A8774C;
$brown-coffee: #815037;
$blue-charcoal: #3A4950;
$blue-sand: #BCC6C8;
$green-artichoke: #949168;
$black: #2f2f41;
$white: #ffffff;
$white-offset: #F0F5EE;
$black-offset-coffee: #393333;

.wrapper.login {
  background: $brown-cafeaulait !important;
  font-weight: 500 !important;

  .login-form--container {
    .login-form--card {
      box-shadow: none !important;
      background: $white-offset !important;

      +div p {
        color: $white !important;
        text-transform: lowercase !important;
      }
    }

    .login-form--logo {
      height: 10rem !important;
      margin: 0 !important;
    }

    .login-form--button .button {
      background: $primary !important;
      height: 100% !important;
    }

    input:focus,
    textarea:focus,
    select:focus {
      border-bottom: 1px solid $primary !important;
    }

    .forgot-password {
        color: $white !important;
        font-size: 0.8rem;
        background: $brown-coffee;
        margin-bottom: 0 !important;
        padding: 0.75rem 1rem !important;
        border: 0 !important;
        border-radius: 4px;
        transition: all 320ms ease;
    }
  }
}