.call {
  position: relative;
  overflow: hidden;
  background-color: $white-offset;
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;

  @include media-breakpoint-down(xs) {
    flex-direction: column;

    .call-box-top {
      margin-bottom: 1rem;
    }
  }

  .call-phone {
    margin-bottom: 0.25rem;
  }



  .call-email,
  .call-phone {
    a {
      font-weight: 500;
      color: darken($white-offset, 50%);
      transition: all 0.5s ease;

      &:hover {
        color: darken($white-offset, 30%);
        text-decoration: none;
      }
    }
  }
}