$accesorii: #4fa069;
$agricultura: #a68257;
$alimente: #974f50;
$amenajare-si-constructii: #5ecbbe;
$animale: #df3b76;
$arta: #5794dd;
$auto: #9069c2;
$bauturi: #8e9042;
$bijuterii: #7E925A;
$cadouri: #84626B;
$carti-si-publicatii: #F45555;
$casa-si-gradina: #ED6241;
$cursuri-si-training: #6CC25F;
$diete: #3CB5BE;
$frumusete: #D8B04B;
$gaming: #D95647;
$hobby: #2C85DB;
$imbracaminte: #E62977;
$incaltaminte: #78BB31;
$it: #D3652E;
$jucarii: #DC6770;
$online: #5C8FA2;
$pentru-copii: #A7AB5E;
$relaxare: #66CC91;
$sanatate: #CB6439;
$servicii: #CA7074;
$sport: #7976E1;
$turism: #3C715F;
$veterinar: #C88E49;

.card-shop,
.card-related-shop {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
  overflow: hidden;
  border-radius: .25rem;
  border-width: 0;
  border-style: solid;
  border-color: #dae4e9;
  position: relative;

  .shop-image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    position: relative;
  }

  .related-image {
    width: 100%;
    height: 5rem;
    object-fit: cover;
    position: relative;
  }
}



.card-category {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  overflow: hidden;
  border-radius: .25rem;
  border-width: 0;
  border-style: solid;
  border-color: #dae4e9;
  position: relative;
  transition: all .22s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  }

  .category-image {
    width: 100%;
    height: 5rem;
    position: relative;
    background-size: 50%;
    background-position: center;
  }

  .card-title {
    font-size: 1.25rem;
    top: 0;
  }

  .card-overlay {
    position: absolute;
    background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  .category-icon {
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    right: 0;
    margin-right: 0.5rem;
    pointer-events: none;
  }

  @include category('accesorii', $accesorii);
  @include category('agricultura', $agricultura);
  @include category('alimente', $alimente);
  @include category('amenajare-si-constructii', $amenajare-si-constructii);
  @include category('animale', $animale);
  @include category('arta', $arta);
  @include category('auto', $auto);
  @include category('bauturi', $bauturi);
  @include category('bijuterii', $bijuterii);
  @include category('cadouri', $cadouri);
  @include category('carti-si-publicatii', $carti-si-publicatii);
  @include category('casa-si-gradina', $casa-si-gradina);
  @include category('cursuri-si-training', $cursuri-si-training);
  @include category('diete', $diete);
  @include category('frumusete', $frumusete);
  @include category('gaming', $gaming);
  @include category('hobby', $hobby);
  @include category('imbracaminte', $imbracaminte);
  @include category('incaltaminte', $incaltaminte);
  @include category('it', $it);
  @include category('jucarii', $jucarii);
  @include category('online', $online);
  @include category('pentru-copii', $pentru-copii);
  @include category('relaxare', $relaxare);
  @include category('sanatate', $sanatate);
  @include category('servicii', $servicii);
  @include category('sport', $sport);
  @include category('turism', $turism);
  @include category('veterinar', $veterinar);
}

.card-featured {
  width: 5rem;
  background: $primary;
  position: absolute;
  top: 0;
  left: -27px;
  text-align: center;
  line-height: 1.5rem;
  transform: rotate(-45deg);
  z-index: 2;

  &:before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-star);
    color: $white;
    transform: rotate(45deg);
  }
}

.badges {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
}

.card-badge {
  position: relative;
  cursor: default;
  top: 0;
  right: 0;
  color: $primary;
  font-weight: 700;
  letter-spacing: $condensed;
  z-index: 2;
  font-size: 0.7rem;
  padding: 0.25rem 0.35rem;
  margin-right: 0.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  background: $white;
  line-height: 1;
  display: inline-table;
  text-align: center;

  &:first-child {
    margin: 0 0.5rem;
  }
}

.card-online {
  // position: absolute;
  // top: 50%;
  // right: 0;
  // color: $primary;
  // font-weight: 700;
  // z-index: 2;
  // font-size: 0.7rem;
  // padding: 0.25rem 0.35rem;
  // margin: 0.5rem 0;
  // border-radius: 0.25rem 0 0 0.25rem;
  // background: $white;
  // line-height: 1rem;
  // display: inline-table;
  // text-align: center;
  // margin-top: -1rem;


  position: relative;
  cursor: default;
  top: 0;
  right: 0;
  color: $primary;
  font-weight: 700;
  letter-spacing: $condensed;
  z-index: 2;
  font-size: 0.7rem;
  padding: 0.25rem 0.35rem;
  margin: 0 0.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  background: $white;
  line-height: 1;
  display: inline-table;
  text-align: center;

  &:before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-globe-americas);
    margin-right: 0.25rem;
  }
}

.card-title {
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 75%;
  font-size: 2rem;
  margin: 0.5rem;
  font-weight: 700;
  color: $white;
  font-family: $font-family-heading;

  &:hover {
    text-decoration: none;
    color: $white;
  }
}

.related-title {
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 75%;
  font-size: 1.25rem;
  margin: 0.5rem;
  font-weight: 700;
  color: $white;
  font-family: $font-family-base;

  &:hover {
    text-decoration: none;
    color: $white;
  }
}

.related-card {
  padding: 0;

  @include media-breakpoint-up(sm) {
    &:not(:first-child) {
      padding-left: 0.5rem;
    }
  }

  @include media-breakpoint-down(xs) {
    &:nth-child(2n) {
      padding-left: 0.25rem;
    }
  }
}

.card-overlay {
  position: absolute;
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.card-social {
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
  margin: 0.5rem;
  justify-content: space-between;
  display: flex;

  .card-link {
    @extend %fa-icon;

    color: $white-offset;
    transition: all 0.2s;
    margin-left: 0.25rem;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: darken($white-offset, 20%);
    }

    &.facebook:before {
      @extend .fab;
      content: fa-content($fa-var-facebook);
    }

    &.instagram:before {
      @extend .fab;
      content: fa-content($fa-var-instagram);
    }

    &.website:before {
      @extend .fas;
      content: fa-content($fa-var-link);
    }
  }

}