.content {
  a {
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  p {
    font-family: $font-family-base;
    color: $blue-charcoal;
    font-size: 16px;
    letter-spacing: -0.011em;
    line-height: 22px;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-family: $font-family-heading;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
  }

  h2 {
    font-family: $font-family-base;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 0.5rem;
    letter-spacing: 0.05rem;
    color: $blue-charcoal;
  }

  h3 {
    font-family: $font-family-base;
    font-size: 20px;
    line-height: 1.4;
    font-weight: normal;
    margin-top: 30px;
  }

  ul,
  ol {
    margin-bottom: 20px;

    ul,
    ol {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    margin-bottom: 5px;
    line-height: 1.56;
    margin-left: 20px;
    color: $blue-charcoal;
  }

  hr {
    border: none;
    border-bottom: 1px solid $white-offset;
  }

  table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    th,
    td {
      padding: 5px;
      vertical-align: top;
      border-top: 1px solid $white-offset;
    }

    thead th {
      vertical-align: bottom;
      border-bottom: 1px solid $white-offset;
      text-align: left;
      font-weight: bold;
    }

    tbody+tbody {
      border-top: 1px solid $white-offset;
    }
  }

  blockquote {
    padding: 0 1em;
    color: $blue-charcoal;
    border-left: .25em solid $secondary;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us {

  .dictionary {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
      0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07),
      0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07),
      0 32px 64px rgba(0, 0, 0, 0.07);
    padding: 1rem 2rem;
    border-radius: 5px;

    hr {
      border-top: 1px dashed #f7f7f7;
    }

    .holes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .hole {
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 999px;
        background: #f7f7f7;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07), 
        inset 0 2px 4px rgba(0, 0, 0, 0.07), 
        inset 0 4px 8px rgba(0, 0, 0, 0.07);
        ;
      }
    }

    .word {
      font-size: 4rem;
      font-family: 'Libre Baskerville', serif;
    }

    .pronounciation {
      font-weight: 700;
      opacity: 0.5;
    }

    .type {
      font-family: 'Libre Baskerville', serif;
      font-size: 1.5rem;
      font-style: italic;
    }

    .definition {
      font-family: 'Libre Baskerville', serif;
      font-size: 1.5rem;

      span {
        display: block;
      }
    }

    .example {
      font-size: 0.85rem;
      margin: 1rem 0;

      span {
        background: #ddd;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07), 
        inset 0 2px 4px rgba(0, 0, 0, 0.07), 
        inset 0 4px 8px rgba(0, 0, 0, 0.07);
        padding: 0.15rem 0.5rem;
        border-radius: 4px;
        margin-bottom: 0.5rem;
        opacity: 0.5;
        line-height: 1.5rem;
        display: flex;


        &::before {
          content: '❞';
          margin-right: 0.25rem;
          font-size: 1.5rem;
        }

        &::after {
          content: '❝';
          margin-right: 0.25rem;
          font-size: 1.5rem;
        }
      }
    }

    .source {
      opacity: 0.5;
      font-size: 0.75rem;
      font-style: italic;
    }
  }
}