.intro-image {
  width: 100%;
  height: auto;
}
.intro-image-absolute {
  max-width: none;
  z-index: -1;
  padding: 0;

  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: 75px;
    left: -150px;
    width: 500px;
  }
  @include media-breakpoint-up(lg) {
    bottom: 0;
    left: -150px;
    width: 700px;
  }
  @include media-breakpoint-up(xl) {
    bottom: -25px;
    left: 0;
    width: 600px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
