.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .wrapper {
    flex: 1 0 0;
  }
}

.category-background {
  height: 600px;
  width: 100%;
  position: absolute;
  background-size: 250px, 100%;
  z-index: -1;
  opacity: 0.07;
}