.search-input {
  border-radius: 5px;
  border: 2px solid darken($white-offset, 10%);
  background: $white-offset;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 3rem;
  transition: all 0.3s ease;
  color: darken($white-offset, 70%);
  font-weight: 500;

  &::placeholder {
    color: darken($white-offset, 20%);
  }
}

.search-input:focus {
  outline: none;
  border: 2px solid $primary-light;
}

#search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.search-submit,
.search-reset {
  @extend .fas;
  margin-left: 0.25rem;
  width: 50px;
  background: darken($white-offset, 20%);
  border: 0;
  color: lighten($white-offset, 20%);
  border-radius: 3px;
  transition: all 0.3s ease;

  &:hover {
    background: darken($white-offset, 15%);
    color: darken($white-offset, 30%);
  }
}

select.filters-select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0 0.15rem;
  width: 100%;

  &:first-child {
    margin-left: 0;
  }

  &::-ms-expand {
    display: none;
  }
}

.select-filters .select {
  flex: 1;
}

.select-filters {
  display: flex;
  align-content: stretch;
  margin-top: 0.5rem;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }
}

.select {
  position: relative;
  min-width: 200px;
  margin-left: 0.25rem;

  &:first-child {
    margin: 0;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 0.5rem;
    margin-left: 0;
  }

}

.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: $gray-700;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.select select {
  -webkit-appearance: none;
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1px solid $gray-200;
  border-radius: 5px;
  background: $white;
  box-shadow: 0 1px 3px -2px $gray-700;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 3rem;
  font-weight: 500;
}

.select select:required:invalid {
  color: $gray-700;
}

.select select option,
.select select:hover {
  color: $primary;
}

.select select option[value=""][disabled] {
  display: none;
}

.select select:hover+svg {
  stroke: $primary;
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.shops {
  transition-duration: 0.5s;
  transition-property: height, width;
  display: flex;
  height: 100%;
  min-height: 0;
}

.checkbox-filters {

  label {
    cursor: pointer;
    font-weight: 500;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]+label:before {
    @extend %fa-icon;
    @extend .far;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  input[type=checkbox]+label:before {
    content: fa-content($fa-var-circle);
  }

  input[type=checkbox]:checked+label:before {
    content: fa-content($fa-var-check-circle);
    color: darkgreen;
  }

  input[type=checkbox]:checked+label {
    color: darkgreen;
  }
}