.statistics {
  display: flex;
  flex-direction: row;
  margin: 0.25rem 0;
  color: $grey-silver;
  font-weight: 500;
  font-size: 0.85rem;
  justify-content: space-between;

  .reading-time {
    &::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-clock);
    }
  }

  .views {
    &::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-eye);
    }
  }
}

.likes {
  margin: 0.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .like-counter {
    color: $grey-silver;
    font-weight: 500;
    font-size: 0.85rem;

    &::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-heart);
    }
  }

  #like {
    background: transparent;
    border: 0;
    padding: 0;
    font-size: 1.5rem;

    &.unlike {
      color: $primary;
    }

    &.like {
      color: $grey-silver;

      &:hover {
        color: darken($grey-silver, 20%);
      }
    }
  }
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  padding: 7px;
  transform: translateX(-50%);
  border-radius: 3px;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}