.title {
  color: $black;
  font-size: 48px;
  line-height: 1.2;
  word-wrap: break-word;
  
  @include media-breakpoint-up(lg) {
    font-size: 50px;
  }
}

.category-tag {
  text-transform: uppercase;
  color: $grey-silver;
  font-weight: 700;
  letter-spacing: $expanded;
  font-size: 1.25rem;
}