a {
  color: $primary;
}

p {
  line-height: 26px;
  color: $blue-charcoal;
  font-family: $font-family-base;
  margin-bottom: 20px;
}

h1 {
  font-size: 20px;
  font-family: $font-family-heading;
  letter-spacing: $tight;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    font-size: 32px;
    line-height: 1.2;
  }
}

h2 {
  font-size: 24px;
  font-family: $font-family-heading;
  line-height: 1.4;
  margin-bottom: 10px;

  @include media-breakpoint-up(md) {
    font-size: 26px;
    line-height: 1.4;
  }
}

h3 {
  font-size: 16px;
  line-height: 1.4;

  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 1.4;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    margin: 0;
  }
}

.highlight {
  border-radius: 1rem 0 1rem 0;
  background-image: linear-gradient(-100deg, rgba(255, 224, 0, 0.3), rgba(255, 224, 0, 0.7) 95%, rgba(255, 224, 0, 0.1));
  font-weight: 500;
  font-family: $font-family-heading;
}

.text-center {
  text-align: center !important;
}
