---
title: Contact
layout: default
bodyClass: page-contact
---

<section class="contact-page-section">
    <div class="container">
        <div class="sec-title">
            <div class="title">{{page.title}}</div>
            <h2>Let's get in touch!</h2>
            <div class="content mt-2">
                {{content}}
            </div>
        </div>
        <div class="inner-container">
            <div class="row clearfix">

                <!--Form Column-->
                <div class="form-column col-md-8 col-sm-12 col-xs-12">
                    <div class="inner-column">

                        <!--Contact Form-->
                        <div class="contact-form">
                            {% if page.forms[0] %}{% include form.html form="1" %}{% endif %}
                        </div>
                        <!--End Contact Form-->

                    </div>
                </div>

                <!--Info Column-->
                <div class="info-column col-md-4 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <h2>Informații de contact</h2>
                        <ul class="list-info">
                            {% if site.data.contact.address %}
                            <li><i class="fas fa-map-marker-alt"></i>{{ site.data.contact.address }}</li>
                            {% endif %}
                            {%- if site.data.contact.email -%}
                            <li><i class="fas fa-envelope-square"></i><a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a></li>
                            {%- endif -%}
                            {%- if site.data.contact.phone -%}
                            <li><i class="fas fa-phone-square"></i><a href="tel:{{ site.data.contact.phone }}">{{ site.data.contact.phone }}</a></li>
                            {%- endif -%}
                        </ul>
                        <ul class="social">
                            <li class="listheader">
                                <h2>Urmărește-ne</h2>
                            </li>
                            {%- for item in site.data.social -%}
                            <li><a href="{{ item.link }}" class="{{ item.class }}" target="blank"></a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>