---
title: Gemz.ro
layout: default
bodyClass: page-home
---

<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                {{ content }}
                {% if site.homepage.show_call_box %}
                {% include call.html show_button=true %}
                {% endif %}
            </div>
            {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
            </div>
            {% endif %}
        </div>

    </div>
</div>
<div class="strip">
    <div id="#search" class="container p-3">
        <div class="row justify-content-center">
            {%- include search-input-light.html -%}
        </div>
    </div>
</div>

<div class="strip-featured strip-diagonal">
    <div class="container pt-3 pb-3">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h2>Featured Gemz</h2>
            </div>
        </div>
        <div id="featured-shops" class="row justify-content-start">
        </div>
    </div>
</div>
<div class="strip">
    <div class="container pt-3 pb-3">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h2>Categorii</h2>
            </div>
        </div>
        <div class="row text-center justify-content-center px-2">
            <p>
                Vezi shop-urile din categoria ta preferată. Cine știe, s-ar putea să găsești un nou shop favorit!
                <br><span class="highlight">Explorează, descoperă, cumpără!</span>
            </p>
        </div>
        <div class="row justify-content-start">
            {%- assign active_categories = site.shops | map: 'category' | join: ',' | split: ',' | uniq -%}
            {%- for categories in active_categories -%}
            {%- include categories.html -%}
            {%- endfor -%}
            
        </div>
    </div>
</div>
<div class="strip">
    <div class="container pt-3 pb-3">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h2>Gemz</h2>
            </div>
        </div>
        <div class="row text-center justify-content-center px-2">
            <p>
                Prin susținerea afacerilor locale o parte din bani se întorc la orașul tău ajutându-l să se dezvolte și să se susțină. Iar asta e valabil și pentru micii antreprenori care vor reuși, prin intermediul nostru, să ne ofere în continuare produse și servicii de calitate. 😊
                <br><span class="highlight">Explorează, descoperă, cumpără!</span>
            </p>
            </p>
        </div>
        <div class="row justify-content-start">
            {% for shop in site.shops %}
            {%- include shops.html -%}
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="button button-primary" href="{{site.baseurl}}/shops">Mai multe</a>
            </div>
        </div>
    </div>
</div>

{% if site.data.features %}
<div class="strip strip-offwhite">
    <div class="container pt-3 pb-3">
        <div class="row justify-content-center">

            {% for feature in site.data.features %}
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <div class="feature">
                    {% if feature.image %}
                    <svg class="feature-image">
                        <use xlink:href="#{{ feature.image }}" />
                    </svg>
                    {% endif %}
                    <h2 class="feature-title">{{ feature.title }}</h2>
                    <div class="feature-content">{{ feature.description }}</div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}

<script type="text/javascript">
    var randomIndexUsed = [];
    var counter = 0;
    var displayedShops = 3;
    var numberOfShops = featuredShops.length < displayedShops ? featuredShops.length : displayedShops;


    while (counter < numberOfShops) {
        var randomIndex;
        var shopUrl;
        var shopName;
        var shopFacebook;
        var shopInstagram;
        var shopWebsite;
        var shopImage;
        var shopNew;
        var shopOnline;
        var hasFacebook;
        var hasInstagram;
        var hasWebsite;
        var isNew;
        var isOnline;

        randomIndex = Math.floor(Math.random() * featuredShops.length);

        if (randomIndexUsed.indexOf(randomIndex) == "-1") {
            shopUrl = featuredShops[randomIndex]["url"];
            shopName = featuredShops[randomIndex]["name"];
            shopFacebook = featuredShops[randomIndex]["facebook"];
            shopInstagram = featuredShops[randomIndex]["instagram"];
            shopWebsite = featuredShops[randomIndex]["website"];
            shopImage = featuredShops[randomIndex]["image"];
            shopNew = featuredShops[randomIndex]["new"];
            shopOnline = featuredShops[randomIndex]["online"];

            hasFacebook = shopFacebook.length === 0 ? '' : "<a aria-label='Facebook' target='_blank' class='card-link facebook' href='https://facebook.com/" + shopFacebook + "'></a>";

            hasInstagram = shopInstagram.length === 0 ? '' : "<a aria-label='Instagram' target='_blank' class='card-link instagram' href='https://instagram.com/" + shopInstagram + "'></a>";

            hasWebsite = shopWebsite.length === 0 ? '' : "<a aria-label='Website' target='_blank' class='card-link website' href='http://" + shopWebsite + "'></a>";

            isNew = shopNew.length === 0 ? '' : "<span class='card-badge'>NOU</span>";

            isOnline = shopOnline.length === 0 ? '' : "<span class='card-online'>ONLINE</span>";

            var featuredShop = $('<div class="featured-shop col-12 col-md-4 mb-1"><div class="card-shop"><span class="card-featured"></span><div class="badges">' + isOnline + isNew + '</div><div class="card-social">' + hasFacebook + hasInstagram + hasWebsite + '</div><a class="card-title" href="' + shopUrl + '">' + shopName + '</a><div class="card-overlay"></div><a class="card-url" href="' + shopUrl + '"><img class="shop-image" src="' + shopImage + '" alt="' + shopName + '" loading="eager"></a></div></div>');

            if (counter == (numberOfShops - 1)) {
                $('#featured-shops').append(featuredShop);
            } else {
                $('#featured-shops').append(featuredShop);
            }

            randomIndexUsed.push(randomIndex);

            counter++;
        }
    };
</script>