---
layout: default
bodyClass: shop
---
<div class="container pb-2 pt-2 pt-md-2 pb-md-2">
    <div class="row justify-content-start">
        <div class="col-12">
            <div class="service service-single">
                <h1 class="title">{{ page.title }}</h1>
                <div class="shop-details">
                    {% if page.social_links %}
                    <div class="shop-socials">
                        {%- assign socials = page.socials -%}
                        {% if socials.facebook != '' %}
                        <div class="shop-facebook">
                            <a href="https://facebook.com/{{ socials.facebook }}" target="_blank">{{ socials.facebook }}</a>
                        </div>
                        {% endif %}
                        {% if socials.instagram != '' %}
                        <div class="shop-instagram">
                            <a href="https://instagram.com/{{ socials.instagram }}" target="_blank">{{ socials.instagram }}</a>
                        </div>
                        {% endif %}
                        {% if socials.website != '' %}
                        <div class="shop-website">
                            <a href="http://{{ socials.website }}" target="_blank">{{ socials.website }}</a>
                        </div>
                        {% endif %}
                        {% if socials.telephone != '' %}
                        <div class="shop-telephone">
                            <a href="tel:{{ socials.telephone }}">{{ socials.telephone }}</a>
                        </div>
                        {% endif %}
                        {% if socials.email != '' %}
                        <div class="shop-email">
                            <a href="mailto:{{ socials.email }}">{{ socials.email }}</a>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if page.physical_address %}
                    <div class="shop-address">
                        {%- assign address = page.address -%}
                        {{ address.street }}
                        <br>
                        {{ address.city }}
                        <br>
                        {% if address.postcode %}
                        {{ address.postcode }}{% endif %} {{ address.county }}
                        <br>
                        {{ address.country }}
                    </div>
                    {% endif %}
                </div>
                <div class="shop-categories">
                    {% if page.category != '' %}
                    Categorii:
                    {% for category in page.category %}
                    <a href="/categories/{{ category | slugify | replace: 'ș', 's' | replace: 'ț', 't' | replace: 'ă', 'a' | replace: 'î', 'i' | replace: 'â', 'a' }}">{{ category }}</a>
                    {% endfor %}
                    {% else %}
                    😓 Această pagină nu are categorii. Ajută-ne să remediem situația, <a href="mailto:{{ site.data.contact.email }}">trimite-ne un email.</a>
                    {% endif %}
                </div>
                <hr>
                <div class="statistics">
                    {% include reading-time.html %}
                </div>
                <div class="content">{{content}}</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-12">
            {%- include related.html -%}
        </div>
    </div>
</div>